@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    --bg:#2F80ED;
    --bg-panel: rgb(54, 71, 166) ;
    --color-headings: white;
    --color-text: black;
    --color-table: rgb(206, 230, 251);
    --color-htable: rgb(168, 218, 213);
}

html, body {
    position:relative;
    overflow-x:hidden;
  }

.corpo{
    min-height: 100vh;

    background: var(--bg);

    /* flexbox */
    display: -webkit-flex;
    display: flex;
    
    /* comportamento: em linha com wrap */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    /* conteúdo justificado no centro */

    justify-content:center;

}

.logo {
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
}

.logo img {
    height: 30px;
    width: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    text-align: center;
}

.nav-list a {
    text-shadow: 0.5px 0.5px 0.5px black;
    text-decoration: none;
    transition: 0.3s;
    color: var(--color-headings)
}

.nav-list a:hover {
    opacity: 0.7;
}   

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-panel);
    height: 8vh;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.textDiv {
    margin: 0px 5px;
    padding: 20px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}

.textDiv p {
    padding: 20px;
    text-indent: 2em;
    text-align: justify;
    font-size: 20px;
    color: var(--color-headings);
    text-shadow: black 0.5px 0.5px 0.5px;
}

@media (max-width: 999px) {
    
    html, body {
        position:relative;
        overflow-x:hidden;
      }

    .nav-list {
        z-index: 1;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 35vh;
        background: var(--bg);
        -webkit-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    
    .mobile-menu {
        display: block;
        padding: 0px 50px;
    }
    
}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transfom: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

#sun {
    width: 20px;
    height: 20px;
}

#moon {
    width: 16px;
    height: 20px;
}

.tool {
    display: flex;
}

.tool div{
    padding: 3px;
}

.tool img{
    margin-top: 4px;
}
/* section styles */

@media (max-width: 500px) {

    .title h1{
        
        color: var(--color-headings);
    }
    
    .groupItem h1, h3 {
        text-align: center;
        font-size: 16px;
    }

        
    .groupItem{
        min-width: 370px;
    }
    
    .subSist {
        font-size: 10px;
    }


    .infos article{
        
        margin: 15px;
        
    }

      /* Responsive Table */
    
    .table {
        display: block;
        max-width: 45vh;
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
    }
    .table td,
    .table th {
        height: 35px;
    }

    .table thead {
        float: left;
    }

    .table tbody {
        width: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table tbody tr {
        display: inline-block;
    }

}

@media (max-width: 380px) {
     
    .groupItem{
        min-width: 330px;
    }


      /* Responsive Table */
    
    .table {
        display: block;
        max-width: 45vh;
    }

}

@media (max-height: 700px) {

      /* Responsive Table */
    
    .table {
        display: block;
        min-width: 52vh;
    }

}

.corpo ul{
    display: table-row;
    align-items: center;
}

.corpo a {
    color: black;

}

.corpo a:hover{
    color: rgb(71, 71, 48);
}

.corpo li{
    padding: 2.5px;
}

.title h1 {
    margin: 100px 0px;
    text-align: center;
    color: var(--color-headings);
    display: flex;
    justify-content: center;
    text-shadow: 0.5px 0.5px 0.5px black;
    
}

.reservatorios {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.groupItem h1, h3{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 50px;
    color: var(--color-headings);
    cursor: pointer;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.groupItem h3{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.table{
    color: var(--color-text);
    text-align: center;
    margin-bottom: 50px;
    background-color: var(--color-table);
}

.table thead{
    font-weight: bold;
    background-color: var(--color-htable);
}

.table td{
    padding: 10px;
    border: solid 1px black;
    
}

th, tr:hover{
	background-color: var(--color-htable);
}

.rodape{
    width: 100%;
    background-color: var(--bg-panel);
}

.rodape footer{
    width: 70%;
    margin: 0 15% 0 15%;
}

.rodape footer div {
    padding: 15px;
}

.rodape p, a{
    color: var(--color-headings);
    text-align: center;
    text-decoration: none;
}

.infos{
    max-width: 960px;
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infos article {
    width: 360px;
    float: left;
    border: black solid 1px;
    padding: 20px;
    margin: 15px;
}

.infos h2{
    text-align: center;
    border: black solid 1px;
    margin-bottom: 15px;
    padding: 5px;
}

.infos p {
    margin: 5px 0;
    text-align: start;
}
  
.infos ul {
    margin-top: 0;
}
  
.infos li {
    margin: 0px 35px;
}

.divBlock {
    display: none;
}

.showInfo {
    min-width: 40px;    
    border-radius: 10%;
    cursor: pointer;
}

.showInfo img {
    width: 1.5rem;
    height: 1.5rem;
}

.showInfo:hover{
    background-color: rgb(245, 195, 195);
}

.groupItem {
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin: 15px 5px;
}

.groupItem h1 {
    color: var(--color-headings);
    align-items: center;

}

.groupItem:last-child{
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: center;
}

/* DarkMode */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 2rem;
    height: 1rem;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 12.5%;
    left: 6.25%;
    right: 56.25%;
    width: 0.8rem;
    height: 0.7rem;
    bottom: 12.5%;
    background-color: white;
    border-radius: 90px;
    transition: 0.8s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}