@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

.corpo{
    min-height: 100vh;

    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);



    /* flexbox */
    display: -webkit-flex;
    display: flex;
    
    /* comportamento: em linha com wrap */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    /* conteúdo justificado no centro */

    justify-content:center;


}

.logo {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    text-align: center;
}

.nav-list a {
    text-shadow: 0.5px 0.5px 0.5px black;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover {
    opacity: 0.7;
}   

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 71, 166);
    height: 8vh;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 35vh;
        background: -webkit-linear-gradient(to right, #1271ec, #0db0e7);
        background: linear-gradient(to right, #1271ec, #0db0e7);
        -webkit-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    
    .mobile-menu {
        display: block;
    }
}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transfom: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* section styles */



@media (max-width: 500px) {

    .title h1{
        
        color: white;
    }
    
    .reservatorios h1 {
        text-align: center;
        font-size: 16px;
    }

        
    .groupItem{
        min-width: 370px;
    }
    
    .subSist {
        font-size: 10px;
    }


    .infos article{
        
        margin: 15px;
        
    }

      /* Responsive Table */
    
    .table {
        display: block;
        max-width: 52vh;
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
    }
    .table td,
    .table th {
        height: 35px;
    }

    .table thead {
        float: left;
    }

    .table tbody {
        width: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table tbody tr {
        display: inline-block;
    }

    
    .table td:last-child {
        border-right: #999999 solid 1px;
    }

}

@media (max-width: 380px) {

        
    .groupItem{
        min-width: 330px;
    }


      /* Responsive Table */
    
    .table {
        display: block;
        max-width: 45vh;
    }

}

@media (max-height: 700px) {


      /* Responsive Table */
    
    .table {
        display: block;
        min-width: 52vh;
    }


}

.corpo ul{
    display: table-row;
    align-items: center;
}

.corpo a {
    color: black;

}

.corpo a:hover{
    color: rgb(71, 71, 48);
}

.corpo li{
    padding: 2.5px;
}

.title {
    margin: 35px 0px;
}

.title h1 {
    font-size: 20px;
    text-align: center;
    
}

.reservatorios {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.reservatorios h1{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 50px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.reservatorios h3{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.table{
    text-align: center;
    margin-bottom: 50px;
    /*width: 800px;*/
    background-color: rgb(206, 230, 251);
}

.table thead{
    font-weight: bold;
    background-color: rgb(168, 218, 213);
}

.table td{
    padding: 10px;
    border: solid 1px black;
    
}

th, tr:hover{
	background-color: rgb(168, 218, 213);
}


.rodape{
    width: 100%;
    background-color: rgb(54, 71, 166);
}

.rodape footer{
    width: 70%;
    margin: 0 15% 0 15%;
}

.rodape p, a{
    color: white;
    text-align: center;
    text-decoration: none;
}


.infos{
    max-width: 960px;
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.infos article {
    width: 360px;
    float: left;
    border: black solid 1px;
    padding: 20px;
    margin: 15px;
}

.infos h2{
    text-align: center;
    border: black solid 1px;
    margin-bottom: 15px;
    padding: 5px;
}

.infos p {
    margin: 5px 0;
    text-align: start;
}
  
.infos ul {
    margin-top: 0;
}
  
.infos li {
    margin: 0px 35px;
}

.divBlock {
    display: none;
}

.showInfo {
    min-width: 40px;    
    background-color: white;
    color: black;
    border-radius: 10%;
}

.showInfo img {
    width: 1.5rem;
    height: 1.5rem;
}

.groupItem {
    border: solid 0.1px rgba(151, 192, 247, 0.3);
    border-radius: 15px;
    margin: 15px 5px;
    background: -webkit-linear-gradient(to right, #1271ec, #0db0e7);
    background: linear-gradient(to right, #1271ec, #0db0e7);
    -webkit-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
    box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
}

.groupItem h1 {
    color: white;
    align-items: center;

}

.groupItem:last-child{
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: center;
}