@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.corpo{
    min-height: 100vh;

    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);



    /* flexbox */
    display: -webkit-flex;
    display: flex;
    
    /* comportamento: em linha com wrap */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    /* conteúdo justificado no centro */

    justify-content:center;


}

/* section styles */


@media (max-width: 450px) {

    .navbar{
        max-width: 100vw;
    }
    .navbar ul{
        display: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 5px;
        max-height: 15%;
    
    }  

    .navbar li {
        border: none;
    }  

    .navbar a {
        margin: 0
    }
    
    .reservatorios h1 {
        font-size: 15px;
    }

        
    .groupItem{
        min-width: 370px;
    }
    
    .subSist {
        font-size: 10px;
    }


    .infos article{
        
        margin: 15px;
        
    }


   /* .table {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        
    }


    thead{
        display: flex;
        flex-direction: row;
    }
    */

      /* Responsive Table */
    
    .table {
        display: block;
        max-width: 50vh;
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
    }
    .table td,
    .table th {
        height: 35px;
    }

    .table thead {
        float: left;
    }

    .table tbody {
        width: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table tbody tr {
        display: inline-block;
    }

    
    .table td:last-child {
        border-right: #999999 solid 1px;
    }

}

.navbar{
    width: 100%;
    max-height: 30%;
    background-color: rgb(54, 71, 166);
    position: fixed;
    z-index: 100%;
    top: 0;


}

.navbar nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.navbar ul{
    max-height: 30%;
    padding: 0%;
    
}

.navbar ul li{
    display: inline;
    font-weight: bold;


}

.navbar ul li a {
    color: #fff;
    padding: 2vh;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
    font-size: 2vh;
    text-shadow: 1px -1px 0px rgba(37, 100, 184, 0.3), 
    -1px 1px 0px rgba(37, 100, 184, 0.3),                    
     1px -1px 0px rgba(37, 100, 184, 0.3),                  
     1px 0px 0px rgba(34, 99, 185, 0.3);

}

.navbar li {
    border-right: solid 1px #fff;
}

.navbar li:last-child{
    border: none;
}

.navbar ul li a:hover{
   background-color: rgb(89, 38, 138);
}

.navbar a{
    color: black;
    font-size: 20px;
}


.corpo ul{
    display: table-row;
    align-items: center;
}

.corpo a {
    color: black;

}

.corpo a:hover{
    color: rgb(71, 71, 48);
}

.corpo li{
    padding: 2.5px;
}

.title {
    margin-top: 80px;
}

.reservatorios {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.reservatorios h1{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 50px;
}

.reservatorios h3{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.table{
    text-align: center;
    margin-bottom: 50px;
    /*width: 800px;*/
    background-color: rgb(206, 230, 251);
}

.table thead{
    font-weight: bold;
    background-color: rgb(168, 218, 213);
}

.table td{
    padding: 10px;
    border: solid 1px black;
    
}

th, tr:hover{
	background-color: rgb(168, 218, 213);
}


.rodape{
    width: 100%;
    background-color: rgb(54, 71, 166);
}

.rodape footer{
    width: 70%;
    margin: 0 15% 0 15%;
}

.rodape p, a{
    color: white;
    text-align: center;
    text-decoration: none;
}


.infos{
    max-width: 960px;
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.infos article {
    width: 360px;
    float: left;
    border: black solid 1px;
    padding: 20px;
    margin: 15px;
}

.infos h2{
    text-align: center;
    border: black solid 1px;
    margin-bottom: 15px;
    padding: 5px;
}

.infos p {
    margin: 5px 0;
    text-align: start;
}
  
.infos ul {
    margin-top: 0;
}
  
.infos li {
    margin: 0px 35px;
}

.divBlock {
    display: none;
}

.showInfo {
    min-width: 40px;    
    background-color: white;
    color: black;
    border-radius: 10%;
}

.showInfo img {
    width: 1.5rem;
    height: 1.5rem;
}

.groupItem {
    border: solid 0.1px rgba(151, 192, 247, 0.3);
    border-radius: 15px;
    margin: 15px 5px;
    background: -webkit-linear-gradient(to right, #1271ec, #0db0e7);
    background: linear-gradient(to right, #1271ec, #0db0e7);
    -webkit-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
    box-shadow: 9px 10px 15px rgba(50, 50, 50, 0.3);
}

.groupItem h1 {
    color: white;
    align-items: center;
    text-shadow: 1px -1px 0px rgba(151, 192, 247, 0.3), 
    -1px 1px 0px rgba(151, 192, 247, 0.3),                    
     1px -1px 0px rgba(151, 192, 247, 0.3),                  
     1px 0px 0px rgba(151, 192, 247, 0.3);
}

.groupItem:last-child{
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: center;
}