<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    
    <title>Reservatórios no Norte</title>
    <link rel="stylesheet" href="/extends/styles.css">
    <link rel="shortcut icon" href="/assets/favico/favicon-32x32.png">

</head>
<body>
   
    <header>
        <nav class="menu">
            <img class="logo" src="/assets/favico/favicon-32x32.png" alt="Ilustração de Hidrelétrica">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./sudeste.html">Sudeste / Centro-Oeste</a></li>
                <li><a href="./sul.html">Sul</a></li>
                <li><a href="./nordeste.html">Nordeste</a></li>
                <li><a href="./norte.html">Norte</a></li> 
            </ul>
            <div class="tool">
                <div>
                    <img id="sun" src="/assets/icons/sun-white.svg" alt="">
                </div>
                <div class="toggle">
                    <input id="switch" type="checkbox" name="theme">
                       <label for="switch">Toogle</label>
               </div>
               <div>
                    <img id="moon" src="/assets/icons/moon-white.svg" alt="">
               </div>
            </div>

        </nav>
    </header>

    <div class = "corpo">
        

        <section class="reservatorios">
            
            <div id="titleData" class="title">
                
            </div>
            
            <div class="groupItem">

                <h1>Subsistema Norte</h1>

                <div id="EAR"></div>

                <div class="item">

                    <table class="table">

                        <thead id="table-head"></theade>
                        <tbody id="lista"></tbody>

                    </table>

                </div>

            </div>
            
        </section>
        
    </div>

    <div class="rodape">
        <footer>
            <div>
                <p>Dados retirados do Operador Nacional do Sistema Elétrico - ONS</p>
                <p>Copyright © 2021-2022</p>
                <p><a class="mail" href="mailto:victor.santos@igdema.ufal.br">victor.santos@igdema.ufal.br</a></p>
            </div>
        </footer>
    </div>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

    <script type="text/javascript" src="/extends/interateScript.js"></script>
    <script type="text/javascript" src="/extends/scriptsTable.js"></script>
    <script type="text/javascript">
        window.addData("Norte", 0)
    </script>



</body>
</html>